version: "3.8"

services:
  web:
    build: .
    container_name: flask-app
    ports:
      - "8080:5000"
    depends_on:
      - redis
    networks:
      - mynet

  redis:
    image: redis:7
    container_name: redis-db
    networks:
      - mynet

networks:
  mynet:
